$font-primary: 'Work Sans', Arial, sans-serif;
$font-secondary: 'Merriweather', Times, serif;



// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #D9BF77 !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #222831;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #4c4a8a;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;



// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

body {
	font-family: $font-primary;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #828488;
	background: #fff;
}
#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	@include transition(.5s);
	.offcanvas & {
		overflow: hidden;	
		position: absolute;
		
		&:after {
			@include transition(2s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			background: rgba(0,0,0,.7);
			content: "";
		}
	}
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:active, &:focus {
		color: $brand-primary;
		outline: none;
		text-decoration: none;
	}
}
p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
	color: $brand-black;
	font-family: $font-secondary;
	font-weight: 400;
	margin: 0 0 20px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

.qbootstrap-nav {
	.top-menu{
		padding: 34px 0 28px 0;
		@media screen and(max-width: $screen-sm){
			padding: 20px 0;
		}
	}

	#qbootstrap-logo {
		font-size: 34px;
		margin: 0 0 .5em 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-weight: 700;
		font-family: $font-primary;
		@media screen and(max-width: $screen-sm){
			margin: 0;
		}
		a{
			span{
				color: $brand-primary;
			}
		}
	}
	a {
		padding: 5px 10px;
		color: $brand-black;
	}
	.menu-1 {
		@media screen and (max-width: $screen-sm ) {
			display: none;
		}
	}
	ul {
		padding: 0;
		margin: 5px 0 0 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 500;
			a {
				font-size: 13px;
				padding: 30px 15px;
				color: rgba(0,0,0,.9);
				@include transition(.5s);
				&:hover,&:focus, &:active {
					color: rgba(0,0,0,1);
				}
			}
			&.has-dropdown {
				position: relative;
				.dropdown {
					width: 140px;
					-webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					-moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					z-index: 1002;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 40px;
					left: 0;
					text-align: left;
					background: $brand-black;
					padding: 20px;
					@include border-radius(4px);
					@include transition(.0s);
					&:before {
						bottom: 100%;
						left: 40px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-bottom-color: #000;
						border-width: 8px;
						margin-left: -8px;
					}
					
					li {
						display: block;
						margin-bottom: 7px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							padding: 2px 0;
							display: block;
							color: lighten($brand-black, 60%);
							line-height: 1.2;
							text-transform: none;
							font-size: 13px;
							letter-spacing: 0;
							&:hover {
								color: $brand-white;
							}
						}
					}
				}
				&:hover, &:focus {
					a {
						color: $brand-black;
					}
				}
			}
			&.btn-cta {
				a {
					padding: 30px 0px !important;
					color: $brand-white;
					span {
						background: rgba($brand-primary,1);
						padding: 5px 10px;
						@include inline-block;
						@include transition(.3s);
						@include border-radius(100px);
					}
					&:hover {
						span {
							-webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
							-moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
							box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
						}
					}
				}
			}
			&.active {
				> a {
					color: $brand-primary!important;
					position: relative;
				}
			}
		}
	}
}

#qbootstrap-counter,
.qbootstrap-bg {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}

.qbootstrap-video {
	overflow: hidden;
	@media screen and (max-width: $screen-md){
		height: 450px;
	}
	a {
		z-index: 1001;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -45px;
		margin-left: -45px;
		width: 90px;
		height: 90px;
		display: table;
		text-align: center;
		background: $brand-white;
		
		-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		-ms-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		-o-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		@include border-radius(50%);
		
		i {
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			font-size: 40px;

		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .5);
		@include transition(.5s);
	}
	&:hover {
		.overlay {
			background: rgba(0, 0, 0, .7);		
		}
		a {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);
			
		}
	}
}

#qbootstrap-hero {
	min-height: 700px;
	background: $brand-white url(../images/loader.gif) no-repeat center center;
	.btn {
		font-size: 24px;
		&.btn-primary {
			padding: 14px 30px!important;
		}
	}
	.flexslider {
		border: none;
		
		z-index: 1;
		margin-bottom: 0;

		.slides {
			position: relative;
			overflow: hidden;
			li {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				min-height: 700px;
				position: relative;
				&:after{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					content: '';
					background: rgba($brand-black,.4);
					z-index: 1;
				}
			}
		}
		.flex-control-nav {
			bottom: 40px;
			z-index: 1000;
			li {
				a {
					background: rgba(255,255,255,.2);
					box-shadow: none;
					width: 12px;
					height: 12px;
					cursor: pointer;
					&.flex-active {
						cursor: pointer;
						background: rgba(255,255,255,.7);
					}
				}
			}
		}
		.flex-direction-nav {
			display: none;
		}
		.slider-text {
			display: table;
			opacity: 0;
			min-height: 700px;
			z-index: 9;
			> .slider-text-inner {
				display: table-cell;
				vertical-align: middle;
				min-height: 700px;
				h1, h2, h3 {
					margin: 0;
					padding: 0;
					color: rgba(255,255,255,1);
				}
				h1 {
					margin-bottom: 30px;
					font-size: 60px;
					line-height: 1.3;
					font-weight: 700;
					@media screen and (max-width: $screen-sm) {
						font-size: 30px;
					}
				}
				h2 {
					font-size: 20px;
					line-height: 1.5;
					margin-bottom: 30px;
					font-family: $font-primary;
				}
				h3{
					margin-bottom: 20px;
					font-size: 28px;
				}
				.heading-section{
					font-size: 50px;
				}
				.btn {
					padding: 15px 30px;
					// background: $brand-primary!important;
					color: $brand-white;
					border: none!important;
					font-size: 18px;
					&:hover {
						background: $brand-primary!important;
						-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
						-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
						box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
					}
				}
				.form-inline {
					.form-group {
						width: 100%!important;
						margin-bottom: 10px;
						.form-control {
							width: 100%;
							background: $brand-white;
							border: none;
						}
					}
				}
				.qbootstrap-lead {
					font-size: 20px;
					color: $brand-white;
					.icon-heart {
						color: $brand-danger;
					}
				}
			}
		}
	}

}



.qbootstrap-bg-section{
	background: rgba($brand-black,.05);
}

#qbootstrap-intro,
#qbootstrap-about,
#qbootstrap-practice,
#qbootstrap-testimonial,
#qbootstrap-started,
#qbootstrap-won-cases,
#qbootstrap-blog,
#qbootstrap-contact,
#qbootstrap-footer{
	padding: 7em 0;
	clear: both;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
}

#qbootstrap-won-cases{
	padding-left:20px;
	padding-right:20px;
}

#qbootstrap-counter{
	padding: 4em 0;
	clear: both;
	background: $brand-darker;
}

#qbootstrap-intro{
	h2{
		font-size: 44px;
		@media screen and(max-width: $screen-sm){
			font-size: 32px;
		}
	}
	p{
		font-size: 20px;
	}
}
.social-icon{
	a{
		i{
			font-size: 40px;
		}
	}
}


// Counters
.qbootstrap-counters {
	padding: 3em 0;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	.icon{
		width: 80px;
		height: 80px;
		display: table;
		margin: 0 auto;
		margin-bottom: 30px;
		i{
			display: table-cell;
			vertical-align: middle;
			width: 80px;
			height: 80px;
			font-size: 34px;
			color: $brand-primary;
			background: $brand-white;
			@include border-radius(50%);
		}
	}
	.counter-wrap{
		border: 1px solid red !important;
	}
	.qbootstrap-counter {
		font-size: 40px;
		display: block;
		color: $brand-primary;
		font-family: $font-secondary;
		width: 100%;
		font-weight: 400;
		margin-bottom: .3em;
	}
	.qbootstrap-counter-label {
		color: $brand-primary;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 5px;
		margin-bottom: 2em;
		display: block;
	}
}

#qbootstrap-content,
#qbootstrap-consult{
	@include flex();
	@include flexwrap();
	width: 100%;
	float: left;
	.video, .choose{
		display: inline-block;
		@media screen and (max-width: $screen-sm){
			width: 100% !important;
		}
	}
	.video{
		display: table;
		width: 50%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		@include flex();
		@include flexwrap();
	}
	.choose{
		width: 50%;
		padding: 5em;
		background: $brand-primary;
		@media screen and(max-width: $screen-sm){
			padding: 2em;
		}
		p{
			color: $brand-black;
		}
		.form-control {
			border: 2px solid rgba(0, 0, 0, 1) !important;
			color: $brand-black !important;
			margin-bottom: 10px;
		  	&:active, &:focus {
				border-color: $brand-primary;
		   }
		   &::-webkit-input-placeholder {
		   	color: $brand-black !important;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: $brand-black !important;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: $brand-black !important;
			}

			&:-ms-input-placeholder {  
			   color: $brand-black !important;
			}
		}
		.btn{
			background: $brand-black !important;
		}
	}
}

.progress-bar{
	background-color: $brand-darker !important;
}

.services{
	position: relative;
	margin-bottom: 80px;

	@include transition(.3s);
	h3{
		font-size: 20px;
		a{
			color: $brand-black;
		}
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
		background: $brand-primary;
		display: table;
		text-align: center;
		margin-bottom: 30px;

		@include border-radius(50%);
		@include transition(.3s);
		i {
			display: table-cell;
			vertical-align: middle;
			height: 80px;
			font-size: 40px;
			line-height: 40px;
			color: $brand-white;
		}
	}
	.desc{
		padding-left: 110px;
	}
}


.qbootstrap-social-icons {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		@include inline-block;
		a {
			@include inline-block;
			color: $brand-primary;
			padding-left: 10px;
			padding-right: 10px;
			i {
				font-size: 20px;
			}
		}
	}
}

.qbootstrap-contact-info {
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0 0 0 40px;
			margin: 0 0 30px 0;
			list-style: none;
			position: relative;
			&:before {
				color: $brand-primary;
				position: absolute;
				left: 0;
				top: .05em;
				@include icomoon;
			}
			&.address {
				&:before {
					font-size: 30px;	
					content: "\e942";
				}
			}
			&.phone {
				&:before {
					font-size: 23px;
					content: "\ea3b";
				}
			}
			&.email {
				&:before {
					font-size: 23px;
					content: "\e91e";
				}
			}
			&.url {
				&:before {
					font-size: 23px;
					content: "\e9dc";
				}
			}
		}
	}
}

.qbootstrap-heading {
	margin-bottom: 5em;
	&.qbootstrap-heading-sm {
		margin-bottom: 2em;
	}
	h2 {
		font-size: 32px;
		margin-bottom: 20px;
		line-height: 1.5;
		color: $brand-black;
		@media screen and(max-width: $screen-sm){
			font-size: 28px;
		}
	}
	p {
		font-size: 18px;
		line-height: 1.5;
		color: #828282;
	}
	span{
		display: block;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
	}
}

#qbootstrap-testimonial {
	.testimony-slide{
		text-align: center;
		span{
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			display: block;
		}

		figure{
			margin-bottom: 10px;
			@include inline-block;
			
			img {
				width: 100px;
				@include border-radius(50%);
			}
		}

		blockquote{
			border: none;
			margin: 30px auto;
			width: 70%;
			position: relative;
			padding: 0;
			@media screen and (max-width: $screen-md) {
				width: 100%;
			}
			
		}

	}

	.arrow-thumb{
		position: absolute;
		top: 40%;
		display: block;
		width: 100%;

		a{
			font-size: 32px;
			color: #dadada;

			&:hover, &:focus, &:active{
				text-decoration: none;
			}
		}

	}
}

.qbootstrap-staff { 
	text-align: center;
	margin-bottom: 30px;
	img {
		width: 250px;
		margin-bottom: 20px;
		@include border-radius(50%);
	}
	h3 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 30px;
	}
	.role {
		color: lighten($brand-black, 50%);
		margin-bottom: 30px;
		font-weight: normal;
		display: block;
	}
}


#qbootstrap-started {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	width: 100%;
	.overlay {
		z-index: 0;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: rgba($brand-black,.7);
	}
	
	.qbootstrap-heading {
		margin-bottom: 0 !important;
		h2 {
			color: $brand-white;
			margin-bottom: 20px !important;
		}
		p{
			color: rgba($brand-white,.5);
		}
	}
	.btn {
		height: 54px;
		border: none!important;
		background: $brand-primary;
		color: $brand-white;
		font-size: 16px;
		font-weight: 400;
		padding-left: 50px;
		padding-right: 50px;
	}
	.form-inline {
		.form-group {
			width: 100%!important;
			margin-bottom: 10px;
			.form-control {
				width: 100%;
			}
		}
	}
}


// BLOG
.qbootstrap-blog, .qbootstrap-cases{
	margin-bottom: 60px;
	.blog-img{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		height: 250px;
		margin-bottom: 25px;
		display: block;
	}
	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}
	.blog-text {
		margin-bottom: 30px;
		position: relative;
		h3{
			font-size: 22px;
			margin-bottom: 20px;
			line-height: 1.5;
			a{
				color: rgba($brand-black,1);
			}
		}
		.meta{
			font-size: 13px;
			.date{
				color: $brand-primary;
			}
		}
		.result{
			color: $brand-darker;
		}

	}
}


#qbootstrap-footer {
	background: $brand-darker;
	.qbootstrap-footer-links {
		padding: 0;
		margin: 0;
		@media screen and(max-width: $screen-sm){
			margin-bottom: 30px;
		}
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			a {
				color: rgba($brand-white,.5);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.hours{
		li{
			color: rgba($brand-primary,.7);
		}
	}
	h4{
		color: rgba($brand-primary,1);
	}
	.qbootstrap-widget {
		margin-bottom: 30px;
		@media screen and (max-width: $screen-sm){
			text-align: left;
		}
		h4 {
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: rgba($brand-primary,1);
		}
	}

	.copyright {
		.block {
			display: block;
		}
	}
}
// Map
#map {
	width: 100%;
	height: 500px;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}



// off canvas
#qbootstrap-offcanvas {
	position: absolute;
	z-index: 1901;
	width: 270px;
	background: lighten($brand-black, 0%);
	top: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 75px 40px 40px 40px;
	overflow-y: auto;
	display: none;
	@include translateX(270px);
	@include transition(.5s);
	@media screen and(max-width: $screen-sm){
		display: block;
	}
	.offcanvas & {
		@include translateX(0px);
	}
	a {
		color: rgba(255,255,255,.5);
		&:hover {
			color: rgba(255,255,255,.8);
		}
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			> ul {
				padding-left: 20px;
				display: none;
			}
			&.offcanvas-has-dropdown {
				> a {
					display: block;
					position: relative;
					&:after {
						position: absolute;
						right: 0px;
						@include icomoon;
						content: "\ea1c";
						font-size: 20px;
						color: rgba(255,255,255,.2);
						@include transition(.5s);
					}
				}
				&.active {
					a {
						&:after {
							-webkit-transform: rotate(-180deg);
							-moz-transform: rotate(-180deg);
							-ms-transform: rotate(-180deg);
							-o-transform: rotate(-180deg);
							transform: rotate(-180deg);
						}
					}
				}
			}
		}
	}
}

.uppercase {
	font-size: 14px;
	color: $brand-black;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}
.gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	@include transition(.5s);
	&.active {
		opacity: 1;
		visibility: visible;
	}
	a {
		width: 50px;
		height: 50px;
		display: table;
		background: rgba(0,0,0,.5);
		color: $brand-white;
		text-align: center;
		@include border-radius(4px);
		i {
			height: 50px;
			display: table-cell;
			vertical-align: middle;

		}
		&:hover, &:active, &:focus {
			text-decoration: none;
			outline: none;
		}
	}	
}



// Burger Menu
.qbootstrap-nav-toggle {
  width:25px;
  height:25px;
  cursor: pointer;
  text-decoration: none;
  top: 25px !important;
  &.active i {
		&::before, &::after {
			background: $brand-darker;
		}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  display: inline-block;
	  width: 25px;
	  height: 2px;
	  color: #252525;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: #252525;
	  transition: all .2s ease-out;
		 &::before, &::after {
		  content:'';
		  width: 25px;
		  height: 2px;
		  background: #252525;
		  position: absolute;
		  left:0;
		  transition:all .2s ease-out;
	  }
  }
  &.qbootstrap-nav-white {
  	> i {
  		color:$brand-white;
  		background: $brand-black;
  		&::before, &::after {
  			background: $brand-black;
  		}
  	}
  }
}

.qbootstrap-nav-toggle i::before {
  top: -7px;
}
.qbootstrap-nav-toggle i::after {
  bottom: -7px;
}
.qbootstrap-nav-toggle:hover i::before {
  top: -10px;
}
.qbootstrap-nav-toggle:hover i::after {
  bottom: -10px;
}
.qbootstrap-nav-toggle.active i {
	background: transparent;
}
.qbootstrap-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
          background: $brand-white;
}
.qbootstrap-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
          background: $brand-white;
}
.qbootstrap-nav-toggle {
  position: absolute;
  right: 0px;
  top: 65px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  // background: #f86942;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
  	display: block;
  }
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 400;
	@include border-radius(30px);
	@include transition(.5s);
	padding: 8px 20px;
	&.btn-md {
		padding: 8px 20px!important;
	}
	&.btn-lg {
		padding: 18px 36px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-primary {
	background: $brand-primary;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: lighten($brand-primary, 5%)!important;
		border-color: lighten($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}
.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover, &:focus, &:active {
		background: darken($brand-success, 5%)!important;
		border-color: darken($brand-success, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover, &:focus, &:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}
.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover, &:focus, &:active {
		background: darken($brand-info, 5%)!important;
		border-color: darken($brand-info, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover, &:focus, &:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}
.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover, &:focus, &:active {
		background: darken($brand-warning, 5%)!important;
		border-color: darken($brand-warning, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover, &:focus, &:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}
.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover, &:focus, &:active {
		background: darken($brand-danger, 5%)!important;
		border-color: darken($brand-danger, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover, &:focus, &:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 16px;
	@include transition(.3s);
	&:hover, &:focus, &:active {
		box-shadow: none;
	}
}

.btn.with-arrow {
	position: relative;
	@include transition(.3s);
	i {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -8px;
		@include transition(.2s);
	}
	&:hover {
		padding-right: 50px;
		i {
			color: $brand-white;
			right: 18px;
			visibility: visible;
			opacity: 1;
		}
	}
}
// Form Input Field
.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
  	&:active, &:focus {
  		outline: none;
		box-shadow: none;
		border-color: $brand-primary;
  }
}

.row-pb-md {
	padding-bottom: 4em!important;
}
.row-pb-sm {
	padding-bottom: 2em!important;
}

.qbootstrap-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}

.animate-box {
	.js & {
		opacity: 0;
	}
}